<div id="timer">


    <div id="toolbar">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div id="clock">00:00:00.00</div>
        &nbsp;&nbsp;

    <div id="div_form">

        <%=form_tag("",remote: false, name: 'clockform') do%>
        <%= text_field(:label_id, :label) %><%= button_tag( "START/STOP", onclick: 'findTime()', type: 'button', maxlength: 33) %>

        <%end%>
    </div>
    </div>

    <div id="list_timers">
        <div id="marker">

        <% @timers.each do |timer| %>
            <div id="<%= timer.label %>" class='tl' data-item_id=<%=timer.id%> onclick="document.getElementById('label_id_label').value = this.innerHTML.replace(/\s+/g, ' ').replace(/(^\s*)|(\s*)$/g, '').split(' ').slice(4,-5).join(' ')"> <%= timer.time %>
            <%=timer.updated_at.strftime("update: %d.%m.%Y")%>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <%= timer.label %>
            <%=link_to "X", timer, method: "delete" , id: "deleteButton"%>
            </div><!-- <div id="deletet" class="<%= timer.label %>" >DELETE</div> -->
        <% end %>
        </div>
    </div>

</div>
