<div id="timer">
<div id="clock">00:00:00.00</div>&nbsp;&nbsp;

<div id="div_form">

<%=form_tag("",remote: false, name: 'clockform') do%>
 Метка:
 <%= text_field(:label_id, :label) %>
 <%= button_tag( "START/STOP", onclick: 'findTime()', type: 'button') %>

<%end%>
  

</div>
<div id="marker">
  <% @timers.each do |timer| %>
      <span id="<%= timer.label %>" class='tl' data-item_id=<%=timer.id%> > <%= timer.label %>:
      <%= timer.time %></span><br>
      
  <% end %>

</div>
